# Compiled source #
###################
*.class
*.dll
*.exe
*.o
*.so
*.sublime-workspace
*/*.sublime-workspace
.idea/
.idea/*

# Notes #
#########
notes.txt

bin/
logs/

siam-cs/
siam-cs/*